:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

.main-header{
    display:flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    height: 41px;
    position: relative;
    -moz-box-align: center;
    align-items: center;
    padding-top: 5px;
    font-size: 0.8rem;
    transition: background-color .4s;
}

.main-header .logo{
    width: 110px;
    margin-right: 15px;
    margin-top: 5px;
}

.pinning-header-container{
    margin-left: 20px;
}

.secondary-navigation{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;  
    position: absolute;
    right: 4%;
    top: 0;
    height: 100%;
}

.search-button{
    background-color:transparent;
    border: none;
    color: white;
    padding: 10px 10px;
    margin-right: 5px;
    font-size: 18px;

    cursor: pointer;
    transition: .3s ease all;
}

.search-button:hover{
    background-color: rgba(255,255,255,.50);
    color: black;
}

.search-button i{
    margin-right: 5px;
}

.account-menu-item {
    display: block;
    position: relative;
    font-size: 12px;
    z-index: 0;
}

.account-dropdown-button .profile-icon {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    border-radius: 4px;
}

.tabbed-primary-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    -moz-box-align: center;
    align-items: center;
}

.tabbed-primary-navigation:not(.has-dropdown-menu) .navigation-menu {
    display: none;
}

.tabbed-primary-navigation .navigation-tab {
    list-style-type: none;
    margin-left: 18px;
}

.tabbed-primary-navigation:not(.has-dropdown-menu) .navigation-tab {
    display: block;
}

.navigation-tab a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    position: relative;
    color: #e5e5e5;
    transition: color .4s;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    height: 100%;
}

.navigation-tab a:hover {
    color: #fff;
}


/*filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/house-of-cards-capa3.jpg');
    height: 500px;
    background-size: cover;
}

.filme-principal .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 35%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    border-radius: 4px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 60%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}

    /*

    https://www.themoviedb.org/

    https://fontawesome.com - fontes de icones

    https://owlcarousel2.github.io/OwlCarousel2/ - Touch enabled jQuery plugin
    that lets you create a beautiful responsive carousel slider. (jQuery)

    WRAPPER = Envelopar
    A classe container tem o objetivo de envelopar.*/