@media screen and (max-width: 700px) {
    .main-header{
        display:flex;
        flex-direction: column;
    }
    
    .botao{
        margin-top: 5px;
        width: 250px;
    }
}

@media screen and (min-width: 900px) {
    .descricao{
        width: 400px;
    }
}